// Mixins Here

.nav-layout(){
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #F8F8FF;
  padding: 2%;
}

.anchot-layout(){
  display: flex;
  justify-content: space-between;
  width: 50%;
}