// Navigation code here

nav {
  .nav-layout();
}

h1 {
  font-size: 3.5rem;
  margin: 15px;
}

.anchors {
  .anchor-layout();

  @media @phone {
    width: 80%;

  }
  
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

